@using ITS_System.Areas.Admin.Models
@model List<ManageUserRolesViewModel>

@{
    ViewData["Title"] = "User Roles Manager Page";
}

<div class="text-center">
    <h1 class="display-4">User Roles Manager</h1>
</div>

<form asp-action="Manage" method="post">
    <div class="card">
         <div class="card-header">
                <h2>@Model.FirstOrDefault().User.Email Roles</h2>
            </div>
            
                <div class="card-body">
                   @* @foreach (var role in Model)
                    {
                        <div class="form-check">
                                <input type="hidden" asp-for="@role.User.Id">
                                <input type="hidden" asp-for="@role.Role.Name">
                                <input type="checkbox" class="form-check-input" asp-for="@role.InRole">
                                <label class="form-check-label">@role.Role.Name</label>
                        </div>
                    }*@

                    @for (int i = 0; i < Model.Count; i++) 
                    { 
                        <div class="form-check"> 
                            <input type="hidden" asp-for="@Model[i].User.Id"/> 
                            <input type="hidden" asp-for="@Model[i].Role.Name"/> 
                            <input class="form-check-input" type="checkbox" asp-for="@Model[i].InRole"> 
                            <label class="form-check-label"> @Model[i].Role.Name </label> 
                        </div> 
                    }
                </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-success">Update</button>
                <a class="btn btn-danger" asp-action="Index">Cancel</a>
            </div>

        </div>
    </div>
</form>
